gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=1
nolog=
build-guid=8527a11a14574dcfb50ecedfbe04c275
disable-gpu-skinning=1
gfx-disable-direct3d12=1
gfx-disable-metal=1
gfx-disable-opengl=1
gfx-disable-debug-layer=1
gfx-disable-vsync=1
gfx-gpu-memory-mode=1
multithreaded-optimization=1
silent-unity=1
unity-gpu-accelerated-skeleton=1
use-d3d11-feature-level=0
gfx-multithreaded-shader-creation=1
