[Desktop Entry]
Encoding=UTF-8
Name=VMware Workstation (Root)
Comment=Run VMware Workstation with root privileges for disk access
Exec=kitty sh -c "sudo -E /home/ash/.local/bin/vmware-root.sh %U"
Terminal=false
Type=Application
Icon=vmware-workstation
StartupNotify=true
StartupWMClass=vmware
Categories=System;
MimeType=application/x-vmware-vm;application/x-vmware-team;application/x-vmware-enc-vm;x-scheme-handler/vmrc;
