[Desktop Entry]
Name=VRCFaceTracking
Comment=Play this game on Steam
Exec=steam steam://rungameid/3329480
Icon=steam_icon_3329480
Terminal=false
Type=Application
Categories=Game;
