blur {
  passes 1
  offset 3
  noise 0.72
  saturation 1.5
 }
window-rule {
    match is-floating=true
    baba-is-float false
}
window-rule {
    geometry-corner-radius 5
    clip-to-geometry true
    opacity 0.95
    background-effect {
        blur false
    }
    draw-border-with-background false
}
window-rule {
    match app-id="code-oss"
    geometry-corner-radius 5
    clip-to-geometry true
    opacity 0.94
    draw-border-with-background false
            }
            window-rule {
                match app-id="steam_app_default"
                match app-id="steam"
                match app-id="mpv"
                match app-id="steam_app_438100"
                clip-to-geometry true
                opacity 1.0
                draw-border-with-background false
            }
            window-rule {
                // This regular expression is intentionally made as specific as possible,
                // since this is the default config, and we want no false positives.
                // You can get away with just app-id="wezterm" if you want.
                match app-id=r#"^org\.wezfurlong\.wezterm$"#
                open-floating true
                default-column-width {}
            }
            window-rule{
                    match app-id="baidunetdisk"
                    default-floating-position x=20 y=20 relative-to="top-right"
}
            window-rule{
                match app-id="clipse"
                match app-id="bluetui"
                match app-id="nmtui"
                open-floating true
                default-column-width { proportion 0.4; }
                default-window-height { proportion 0.6; }
}

window-rule {
    match app-id="Conky"
    open-floating true
    open-focused false
    focus-ring{
        off
    }
    border {
        off
    }
    shadow {
        off
    }
}
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    //match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="navicat"
    open-floating true
}

// Prevent --kiosk mode opening in fullscreen, requires full-screen-api.ignore-widgets=true in about:config 
window-rule {
    match app-id="org.mozilla.firefox"
    match app-id="firefox"
    open-fullscreen false
}

window-rule {
    match app-id="waypaper"
    default-column-width { proportion 0.6; }
}

window-rule {
    match app-id="pot"
    open-floating true
    default-column-width { proportion 0.2; }
    default-window-height { proportion 0.5; }
}

window-rule{
    match app-id="wiremix"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.4; }
}

window-rule {
    match app-id="QQ"
    match app-id="antsword"
    open-floating true
}
window-rule {
    match app-id="mpv"
    open-floating true
    default-column-width { proportion 0.9; }
    default-window-height { proportion 0.9; }
}

window-rule {
    match app-id="scrcpy"
    open-floating false
    default-column-width { proportion 0.3; }
}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

