layout{
    focus-ring{
        active-gradient from="#d5bbfccc" to="#f1b7c3cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#3b383e"
        urgent-color "#ffb4ab"
    }
}
