layout{
    focus-ring{
        active-gradient from="#f7b2dfcc" to="#f5b9a1cc" angle=135
        urgent-color "#ffb4ab"

        }
}
recent-windows {    
    highlight {
        active-color "#3f373b"
        urgent-color "#ffb4ab"
    }
}
